<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Life Expectancy Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">
    <style>
        .lungevity {
       color: black; 
       }
       span{
       color: red
       }

       .mb-1 {
         color: #001a00;
       }
       </style>
       

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top"><b>LIFE</b>SPAN</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Infrastructure Walkthrough</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#connect">Connect With Us</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1" >LIFESPAN</h1>

        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"><b>LUNG</b>EVITY<br>Machine Learning App</a>
        <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about2">GDP Vs. Life Expectancy<br>Tableau Visualization</a> -->
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <!--<div class="container text-center">-->
          <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="lungevity"><span>LUNG</span>EVITY</h2>
            <p class="lead mb-5">Lung cancer is the leading cause of cancer-related deaths in the world. In the United States, lung cancer claims more lives every year than colon cancer, prostate cancer, and breast cancer combined.
              Patients who receive <b>Thoracic Surgery for Lung Cancer</b> do so with the expectation that their lives will be prolonged for a sufficient amount of time after the surgery.
              </p>
              <p class="lead mb-5">The problem this app tries to solve is to find whether there is a way 
                to determine <b>Post-Operative Life Expectancy</b> from patient attributes in the dataset. If there is pattern to be recognized, this would help physicians and patients make a more educated decision on whether they should proceed forward with the surgery
              <br>Not only would this influence physicians and patients but also health insurance companies, national health organizations and clinical researchers.</p>


              <a class="btn btn-dark btn-xl js-scroll-trigger" href="/form">View the APP</a>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio">How was this made?</a>
          </div>
        </div>
      </div>
    </section>

       
    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <!--<div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Recent Projects</h2>
        </div>-->
        
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="/form">
              <span class="caption">
                <span class="caption-content">
                  <h2 class="text-color-white">Thoracic Surgery Patient Survival
</h2>
                  <p class="text-color-white mb-0">Web Application built using Scikit-Learn and Random Forest Machine Learning Libraries,
                    Python Flask Web Framework, HTML/CSS and Javascript
                  </p>
                </span>
              </span>
             
              <img class="img-fluid" src="../static/img/lung_cancer.jpg" alt="" style="width:580px;height:300px;">
            </a>
          </div>
          
      </section>
      
  

    <!-- Footer -->
    <footer class="footer text-center" id="connect">
      <div class="container">
      	<div class="col-lg-10 mx-auto">
          <h1 class="text-secondary mb-0">Connect with Us</h1>
        <!-- <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/gibraan-negron-2ab17214b/">
              <i class="icon-social-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://github.com/gnnj">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul> -->

        <p class="text-muted small mb-0">Copyright &copy; SmartBridge</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>

  </body>

</html>
